<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Your Website</title>
    
    <meta name="robots" content="noindex, nofollow">
</head>

<body>

    <header id="web_nav" class="container cymetrix_container navbar navbar-expand-lg navbar-light" >
        <a class="navbar-brand" href="#">
            {#<img src="{{ file_url('public://assets/logo.png') }}" alt="Logo">#}
            <a href="https://drupal.cymetrixsoft.com/"><img src="{{ file_url('public://assets/logo.png') }}" alt="Logo"></a>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            {{ page.primary_menu }}
        </div>
    </header>
    
    <header class="mobile_nav navbar navbar-expand-lg navbar-light" >
        <div class="container cymetrix_container">
            <div class="flexNav">
                <a class="mob_logo" href="https://drupal.cymetrixsoft.com/"><img src="{{ file_url('public://assets/logo.png') }}" alt="Logo"></a>
    
    
            <div class="nav_contact">
            		<a href="#" data-toggle="modal" data-target="#contactUsModal">Contact Us
            		<img src="https://drupal.cymetrixsoft.com/sites/default/files/2024-02/Group%207.png" alt="contact icon">
            		</a>
        	    </div>
        
            </div>
                
        </div>
        </header>
        
        <nav class="mobile_nav mobMenu navbar navbar-expand-lg navbar-light" style="background-color:#E0E0E099;padding: 0px !important;">
             <div class="flexNav container cymetrix_container">
                    <p>Home</p>

                    
                    <div class="menu-toggle" onclick="this.classList.toggle('open')" data-toggle="collapse" data-target="#navbarNav2"
                    aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                    </div>

                    
                </div>
                
            
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav2">
                    {{ page.primary_menu }}
                </div>    


        </nav>
    

   



		<div id="page-wrapper" class="page-wrapper">
			<div id="page">
			    
			    
				<div id="main-wrapper" class="layout-main-wrapper layout-container">
					<div id="main" class="layout-main">
						<div class="main-content">
							<a id="main-content" tabindex="-1"></a>
							{{ page.hero }}
							<div class="main-content__container">
								{{ page.highlighted }}
								{{ page.breadcrumb }}

								{% if page.sidebar %}
									<div class="sidebar-grid grid-full">
										<main role="main" class="site-main">
											{{ page.content_above }}
											{{ page.content }}
										</main>

										{{ page.sidebar }}
									</div>
								{% else %}
									<main role="main">
										{{ page.content_above }}
										{{ page.content }}
									</main>
								{% endif %}
								{{ page.content_below }}
							</div>
						</div>
						<div class="social-bar">
							{{ page.social }}
						</div>
					</div>
				</div>

				<div class="overlay" data-drupal-selector="overlay"></div>

			</div>
		</div>

		{% include "themes/cymetrix/footer.html.twig" %}
   <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>